{% extends "Web/layout.html" %}

{% block body %}
<h4 class="display-4">
    Ask a Question
    <form method="POST" action="{% url 'addInForum' %}">
        {% csrf_token %}
    <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px; ">Ask</button>
        </form>
</h2>

<div class=card-columns" style="padding:10px; margin:20px;"></div>


{% for forum in forums %}
    <div class="card box container">
        <br>
        <h5 class="card-title">
            <a href="forumPost/{{forum.topic}}"><h3>{{forum.topic}}</h3></a>
            <div class="card-body container">
                <p>{{forum.description}}</p>
                <p> By: {{forum.user.username}}</p>
            </div>
        </h5>
        <hr>

    </div>
{% endfor %}
{% endblock %}