{% extends "Web/layout.html" %}
{% load static %}

{% block body %}

<div id ="chatroom">
<div class="members-count"></div>
<div class="members-list"></div>
<div class="messages"></div>
<form class="message-form" onsubmit="return false;">
    <input class="message-form_input" placeholder="Type a message.." type="text" />
    <input class="message-form_button" value="Send" type="submit" />
</form>
</div>

<hr>

<div>
{% for m in material %}
    <h3>{{m.subject}}</h3>
    <p>{{m.content}}</p>
    <br>
{% endfor %}
</div>
{% endblock %}

{% block script %}
<script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
<script type="text/javascript" src="{% static 'Web/chatroom.js' %}"></script>

{% endblock %}